#toc{
  display: none;
  background-color: #f7f7f7;
  padding-bottom: 185px !important;
  text-align: left;
  direction: rtl;
  width: 17%;
  min-width: 0px !important;

  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  opacity:1;
  clear: both;
  border-right: 1px solid #DADCE0;

  overflow-y: scroll;
  margin-top: 3.4%;
}
#toc::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
.headerContainer{
  width: 17%;
  height: 70px;
  background-color: #f7f7f7;
  position: absolute;
  text-align: left;
  padding-top: 1.4%;
  border-right: 1px solid #DADCE0;
  padding-left: 15px;
  font-family: 'Roboto';
  font-size: 14px;
  padding-right: 20px;

}
.generalItem{
  padding-bottom: 8px;
  cursor: pointer;

}
#tocItems{
  line-height:200%;
  visibility: visible;
  transition: 0.3s;
   -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out; 
  cursor: pointer;
}
#tocItem{
  cursor: pointer;
}
.generalTitle{
  border-bottom: 1px solid #DADCE0;

}
.hide-toc{
   /* transform: scale(.7)!important; */
  opacity: 0 !important;
  visibility: hidden !important;  
  transform: translate(-18em,0);
  -webkit-transform: translate(-18em,0);
  -moz-transform: translate(-18em,0);
  -o-transform: translate(-18em,0);
  -ms-transform: translate(-18em,0);
}
.show-toc{
  /* transform: scale(1) !important; */
  opacity: 1 !important;
  visibility: visible !important;
  transform: translate(3em,0);
  -webkit-transform: translate(0em,0);
  -moz-transform: translate(0em,0);
  -o-transform: translate(0em,0);
  -ms-transform: translate(0em,0);
}
.tocItem{
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  cursor:pointer;
  line-height: 20px !important;
  margin-top: 10px;
  direction: ltr;
  overflow-wrap: break-word;

}
.collapserContainer{
  height: 27px;
  margin-top: 1%;
  display: none;

}
#collapserClose{
  transition: 0.5s;
  position: absolute;
  z-index: 9999;
  /* background-color: red; */
  cursor: pointer;
  width: 16px;
  height: 16px;
  left: 2%;
  fill: gray;
}
#collapserOpen{
  transition: 0.5s;
  position: absolute;
  z-index: 9999;
  /* background-color: red; */
  cursor: pointer;
  width: 16px;
  height: 16px;
  left: -2%;
  fill: gray;
}
.toch1{
  margin-left:15px;
  font-size: 1.5rem;
}
.toch2{
  margin-left:15px;
  font-size: 1.2rem;
}
.toch3{
  margin-left:25px;
  font-size: 1rem;
}
.toch4{
  margin-left:30px;
  font-size:1rem;
}
.toch5{
  margin-left:30px;
  font-size:1rem;
}
.toch6{
  margin-left:30px;
  font-size:1rem;
}


/* Add styling to the first item in a list */

#tocItems{counter-reset: first}
.toch1 { counter-reset: second third fourth fifth sixth seventh;}
.toch2 { counter-reset: third fourth fifth sixth seventh; }
.toch3 { counter-reset: fourth fifth sixth seventh; }
.toch4 { counter-reset: fifth sixth seventh; }
.toch5 { counter-reset: sixth seventh; }
.toch6 { counter-reset: seventh; }


/* The behavior for incrementing and the prefix */
/* .toch1:before {
  content: counter(first) ". " ;
  counter-increment: first;
}

.toch2:before {
  content: counter(first) "." counter(second) ". ";
  counter-increment: second;
}

.toch3:before {
  content: counter(first) "." counter(second) "." counter(third) ". ";
  counter-increment: third 1;
}

.toch4:before {
  content: counter(first) "." counter(second) "." counter(third) "." counter(fourth) ". ";
  counter-increment: fourth 1;
}

.toch5:before {
  content: counter(first) "." counter(second) "." counter(third) "." counter(fourth) "." counter(fifth) ". ";
  counter-increment: fifth 1;
}

.toch6:before {
  content: counter(first) "." counter(second) "." counter(third) "." counter(fourth) "." counter(fifth) "." counter(sixth) ". ";
  counter-increment: sixth 1;
} */

.activeTOC{
  font-weight: 800;
}
/* 
@media (max-width: 1250px) {
  #toc { width: 15%!important; }
  body.comments-active #toc { width: 15%!important; }
} */
@media (max-width: 720px){
  #toc { display: none!important; }
  #collapserContainer{ display: none!important; }
}


.itemRow{
  display: flex;
    justify-content: center;
    align-items: center;

}
.titleRow{
  width: 85%;
  height: 100%;
  float: left;
}
.notifyRow{
  width: 12%;
  height: 30px;
  float: right;
  display: flex;
  align-items: center;
}

.highlightHeader{
  background-color: #2678FF;
  color:#FFFFFF

}

.bottomShadowContainer{
  height: 132px;
  position: absolute;
  bottom: 0;
  background: linear-gradient(180deg, rgba(249, 249, 249, 0) 0%, #F9F9F9 100%);
  width: 17%;
  display: flex;
  align-items: center;
}
.topShadowContainer{
  height: 132px;
  position: absolute;
  top: 3.4%;
  background: linear-gradient(180deg, rgba(249, 249, 249, 0) 0%, #F9F9F9 100%);
  width: 17%;
}
.bottomNewMention{
  width: 156px;
  height: 24px;
  left: 59px;
  top: 628px;

  /* primary blue */

  background: #2678FF;
  border-radius: 14px;
  margin: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.bottomNewMention_text{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  margin: auto;
  margin-left: 23px;
  width: 88px;
  height: 24px;
}
.bottomNewMention_pointerContainer{
  height: 20px;
  width: 12px;
  flex-flow: column wrap;
  display: flex;
  align-items: center;
  /* margin: auto; */
  float: right;
  margin-right: 34px;
  margin-top: 4px;
  margin-left: 5px;
}
.bottomNewMention_pointerContainer_rectangle{

  width: 2px;
  height: 12px;
  background: #FFFFFF;
}
.bottomNewMention_pointerContainer_polygon{
  width: 8px;
  height: 4px;
  background-image: url("../image/polygon.svg");
}