<div id="toc">
  <div class="collapserContainer">
    <img id="collapserClose" src="../static/plugins/ep_table_of_contents/static/image/arrow.svg" >
    <img id="collapserOpen" src="../static/plugins/ep_table_of_contents/static/image/outline.svg" >
  </div>

  <div id="tocItems">

  </div>
</div>

