<div id="headerContainer" class="headerContainer">
  <div class="itemRow tocItem generalTitle">
    <div class="titleRow">
      <div id="generalItem" onclick="tableOfContents.scrollToTop();" class='generalItem toc1'>    </div>
    </div>
    <div id="general_notification" class="notifyRow">
     
    </div>
  </div>
</div>


<div id="toc">
  <!-- <div class="topShadowContainer">

  </div> -->

  <div id="tocItems">
    
  </div>

  <div class="bottomShadowContainer">
    <div id="bottomNewMention" class="bottomNewMention">

      <div class="bottomNewMention_pointerContainer">
        <div class="bottomNewMention_pointerContainer_rectangle"></div>
        <div class="bottomNewMention_pointerContainer_polygon"></div>

      </div>
      <span class="bottomNewMention_text">
        New mention
      </span>
    </div>
  </div>

</div>